.App {
  text-align: center;  
}

.App-header {
  background-color: #F24B59; /* Header background color */
  height: 120px; /* Header height */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between the left and right content */
  align-items: center; /* Center the items vertically */
  color: white; /* Text and icon color */
  padding: 0 20px; /* Add horizontal padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  position: relative; /* For positioning child elements */
}

.header-left {
  display: flex; /* Align musical notes and text horizontally */
  align-items: center; /* Center vertically */
}

.header-left h1 {
  margin: 0 10px; /* Space between the musical notes and the text */
  font-size: 60px; /* Font size for the heading */
}

.musical-note-icon {
  font-size: 50px; /* Adjust icon size */
}

.author-text {
  position: absolute; /* Position relative to the header */
  bottom: 10px; /* Move to the bottom of the header */
  right: 20px; /* Move to the right of the header */
  font-size: 20px; /* Adjust text size */
  color: white; /* Text color */
  font-weight: bold; /* Optional: Make text bold */
}



.button-container {
  display: flex;
  justify-content: center; /* Center align the buttons */
  gap: 15px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4BC3F2;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: #020873;
  font-weight: 700;
}

button:hover {
  background-color: #0476D9;
  transform: scale(1.05);
  color: white;
  font-weight: 600;
}

button:focus {
  outline: none;
  box-shadow: 0 0 4px #282c34;
}

.selected {
  background-color: #020873; /* Blue color for selected button */
  transform: scale(1.05);
  color: white;
  font-weight: 600;
  border: none;
}

.purpose-text {
  text-align: left;
  margin: 20px;
}

.purpose-text h2 {
  font-size: 40px;
  color: #F24141;
  margin-bottom: 10px;
  margin-top: 20px;
}

.purpose-text p {
  font-size: 18p  x;
  color: #023E73;
  line-height: 1.6;
  font-weight: 700;
}

.monthly-comparison {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
}

.monthly-comparison button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #F25E5E;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: white;
}

.monthly-comparison button:hover {
  background-color: #F2D3D0;
  transform: scale(1.05);
  color: #40221B;
  font-weight: 700;
}

.monthly-comparison button:focus {
  outline: none;
  box-shadow: 0 0 4px #282c34;
}

.monthly-comparison .selected-month {
  background-color: #F20C0C; /* Blue color for selected month button */
  color: white; /* White text for better contrast */
  border: none;
}

.affect-of-decision {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
}

.affect-of-decision button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #F25E5E;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: white;
}

.affect-of-decision button:hover {
  background-color: #F2D3D0;
  transform: scale(1.05);
  color: #40221B;
  font-weight: 700;
}

.affect-of-decision button:focus {
  outline: none;
  box-shadow: 0 0 4px #282c34;
}

.affect-of-decision .selected-graph {
  background-color: #F20C0C; /* Blue color for selected month button */
  color: white; /* White text for better contrast */
  border: none;
}

.graph-display {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the graph */
}

.graph-display img {
  max-width: 100%;
  height: auto;
}

.top-songs {
  text-align: left;
  margin: 20px;
}

.top-songs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #F24141;
}

.top-songs-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.top-songs h1 {
  font-size: 35px;
  color: #D90718;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.song-list {
  padding-left: 20px;
  margin: 10px 0;
}

.song-list li {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #0468BF;
  font-weight: bold;
  margin-bottom: 10px;
}

.song-list .count {
  font-weight: bold;
  color: #0468BF;
}

.artist-list {
  padding-left: 20px;
  margin: 10px 0;
}

.artist-list li {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #0468BF;
  font-weight: bold;
  margin-bottom: 10px;
}

.artist-list .count {
  font-weight: bold;
  color: #0468BF;
}

.top-artist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #F24141;
}

.top-artist-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.graph-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comparison-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap if the screen is small */
  justify-content: space-between; /* Spreads out items evenly */
  gap: 20px; /* Adds space between items */
}

.comparison-item {
  display: flex;
  flex-direction: column; /* Ensures the image and text stack within each item */
  align-items: center; /* Centers content horizontally */
  flex-basis: 30%; /* Ensures each item takes a percentage of the container width */
  max-width: 300px; /* Optional: limits the size of each item */
  text-align: center; /* Centers text */
}

.comparison-image {
  max-width: 100%; /* Ensures the image doesn't overflow */
  height: auto; /* Maintains aspect ratio */
}

.comparison-text {
  margin-top: 10px; /* Adds space between image and text */
  font-size: 14px; /* Adjusts text size */
}

p {
  font-size: 20px;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 700;
  color: #032859;
}


.affect-on-mood {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
}

.affect-on-mood button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #F25E5E;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: white;
}

.affect-on-mood button:hover {
  background-color: #F2D3D0;
  transform: scale(1.05);
  color: #40221B;
  font-weight: 700;
}

.affect-on-mood button:focus {
  outline: none;
  box-shadow: 0 0 4px #282c34;
}

.affect-on-mood .selected-mood {
  background-color: #F20C0C; /* Blue color for selected month button */
  color: white; /* White text for better contrast */
  border: none;
}

.mood-image{
  max-width: 70%;
  height: auto;
}

.mood-image2{
  max-width: 100%;
  height: auto;
}


.EOP{
  padding-bottom: 50px;
}

.Graph-Title{
  color: #D90718;
}

